doctype html
html(lang="en")
	head
		title Password Reset for Rapido
	body
		p Please set a new password below:
		form(method="POST",action=url)
			input(name="password", type="password", placeholder="New Password")
			input(name="confirmPassword", type="password", placeholder="Confirm Password")
			button(type="submit") Change Password